.offer__price {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0;
  font-weight: 900;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #00a0e3;
}

@media (max-width: 1024px) {
  .offer__price {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .offer__price {
    font-size: 15px;
    line-height: 20px;
  }
}
