.offer__star {
  display: block;
  width: 43px;
  height: 43px;
  margin: 0px 0 17px 0;
}
@media (max-width: 1024px) {
  .offer__star {
    width: 34px;
    height: 34px;
    margin: 0px 0 12px 0;
  }
}
@media (max-width: 768px) {
  .offer__star {
    width: 45px;
    height: 45px;
    margin: 0px 0 20px 0;
  }
}
