.footer-menu__item {
  list-style: none;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 33px;
  color: #ffffff;
  text-decoration: none;
  max-width: 150px;
}
@media (max-width: 1024px) {
  .footer-menu__item {
    font-size: 13px;
    line-height: 31px;
  }
}
@media (max-width: 768px) {
  .footer-menu__item {
    font-size: 15px;
    line-height: 34px;
  }
}
@media (max-width: 550px) {
  .footer-menu__item {
    font-size: 13px;
    line-height: 34px;
  }
}
@media (max-width: 425px) {
  .footer-menu__item {
    font-size: 15px;
    line-height: 34px;
    max-width: 100%;
  }
}
