.footer-menu {
  margin-right: 50px;
  padding-right: 50px;
}

.footer-menu:last-child {
  margin-right: 0;
  padding-right: 0;
}

@media (max-width: 1024px) {
  .footer-menu {
    margin-right: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .footer-menu {
    margin-right: 15px;
    padding-right: 5px;
  }
}

@media (max-width: 550px) {
  .footer-menu {
    margin-right: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 425px) {
  .footer-menu {
    padding: 0;
    margin: 0 0 27px 0;
    position: relative;
  }

  .footer-menu:last-child {
    margin: 0;
  }
}
