.footer-menu__btn {
  display: none;
}
@media (max-width: 425px) {
  .footer-menu__btn {
    display: block;
    position: absolute;
    right: 5;
    top: 0;
    border: 0;
    outline: 0;
    offset: none;
    background: none;
    font-weight: bold;
    -webkit-color: white;
    -moz-color: white;
    -o-color: white;
    color: white;
    padding: 0px 5px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    transform: rotate(0deg);
  }
}
