@media (max-width: 820px) {
  .header__line-center_show {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: scroll;
  }
}
