.slick-dotted.slick-slider {
  margin: 0;
}
.carousel {
  max-width: 1280px;
  margin: 0 auto;
}

.carousel__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel__container_brends {
  max-height: 70px;
}

.carousel__container_products {
  max-height: 400px;
}

.carousel__item {
  max-width: 1060px;
}

.carousel__btn {
  border: none;
  outline: none;
  background: none;
  color: #c7cccf;
  font-size: 35px;
  z-index: 5000;
  cursor: pointer;
}

.banner .carousel__btn:hover,
.banner__offers .carousel__btn:active {
  color: rgba(8, 176, 249, 0.66);
}

.banner__offers .carousel__btn:hover,
.banner__offers .carousel__btn:active {
  color: white;
}

.carousel__dots {
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-bottom: 20px;
}

.carousel__dots li {
  display: inline;
  list-style: none;
}

.carousel__dots li button {
  width: 0;
  height: 0;
  font-size: 0;
  outline: none;
  border: none;
  background: none;
  margin: 0 5px;
  cursor: pointer;
}

.carousel__dots li button:before {
  font-size: 50px;
  color: #c7d6dc;
  content: "•";
}

.carousel__dots li button:hover:before,
.carousel__dots .slick-active button:before {
  color: #5eceff;
}

.banner__offers li button:hover:before,
.banner__offers .slick-active button:before {
  color: white;
}

.carousel__btn_prev {
  margin: 0 43px 0 56px;
}
.carousel__btn_next {
  margin: 0 56px 0 43;
}

@media (max-width: 1024px) {
  .carousel__btn_prev {
    margin: 0 38px 0 41px;
  }
  .carousel__btn_next {
    margin: 0 41px 0 38px;
  }
}

@media (max-width: 768px) {
  .carousel__btn_prev {
    margin: 0 35px 0 24px;
  }
  .carousel__btn_next {
    margin: 0 24px 0 35px;
  }
}

@media (max-width: 425px) {
  .carousel__btn_prev {
    margin: 0;
  }
  .carousel__btn_next {
    margin: 0;
  }
}
