.brends {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding: 53px 57px 0px 57px;
}

.brends__carousel {
  max-height: 237px;
  padding: 0 59px;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.carousel__btn {
  position: absolute;
  top: 40%;
  border: none;
  outline: none;
  background: none;
  color: #c7cccf;
  font-size: 50px;
  z-index: 5000;
  cursor: pointer;
}

.carousel__btn:hover,
.carousel__btn:active {
  color: rgba(8, 176, 249, 0.66);
}

.carousel__btn_prev {
  left: 57px;
}

.carousel__btn_next {
  right: 57px;
}

.brends__item {
  height: 125px;
}

.brends__img {
  width: 100%;
  max-width: 160px;
  height: 125px;
  margin: auto auto;
}

.carousel__dots {
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.carousel__dots li {
  display: inline;
  list-style: none;
}

.carousel__dots li button {
  border: none;
  outline: none;
  background: none;
  font-size: 0;
  color: #c7d6dc;
}

.carousel__dots li button:before {
  font-size: 60px;
  content: "•";
}

.carousel__dots li button:hover:before,
.carousel__dots .slick-active button:before {
  color: #5eceff;
}

@media (max-width: 1024px) {
  .brends {
    padding: 45px 86px 0px 86px;
  }
  .brends__carousel {
    padding: 0 88px;
  }
  .brends__item {
    height: 86px;
  }
  .brends__img {
    width: 109px;
    height: 86px;
  }

  .carousel__btn_prev {
    left: 85px;
  }

  .carousel__btn_next {
    right: 85px;
  }
}

@media (max-width: 768px) {
  .brends {
    padding: 32px 65px 0px 65px;
  }
  .brends__carousel {
    padding: 0 60px;
  }
  .brends__item {
    height: 76px;
  }
  .brends__img {
    width: 100%;
    height: 76px;
  }
  .carousel__btn {
    top: 33%;
    font-size: 25px;
  }

  .carousel__btn_prev {
    left: 65px;
  }

  .carousel__btn_next {
    right: 65px;
  }

  .carousel__dots li button:before {
    font-size: 45px;
  }
}

@media (max-width: 500px) {
  .brends__carousel {
    padding: 0 35px;
  }
}

@media (max-width: 425px) {
  .brends {
    padding: 32px 27px 0px 27px;
  }
  .brends__carousel {
    padding: 0 30px;
  }
  .brends__item {
    height: 76px;
  }
  .brends__img {
    width: 100%;
    max-width: 99px;
    height: 76px;
  }

  .carousel__btn_prev {
    left: 27px;
  }

  .carousel__btn_next {
    right: 27px;
  }
}
