.footer__item-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .footer__item-icon {
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
  }
}
@media (max-width: 768px) {
  .footer__item-icon {
    width: 19px;
    height: 19px;
    margin: 0 7px 0 0;
  }
}
@media (max-width: 540px) {
  .footer__item-icon {
    width: 33px;
    height: 33px;
    margin: 0 5px 0 0;
  }
}
