.catalog {
  margin: 0 auto;
  padding: 92px 0 76px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    rgba(220, 226, 228, 0.224) 0.69%,
    rgba(255, 255, 255, 0.8) 100%
  );
  background: rgba(220, 226, 228, 0.224);
}

@media (max-width: 1024px) {
  .catalog {
    padding: 62px 0 51px 0;
  }
}

@media (max-width: 768px) {
  .catalog {
    padding: 37px 0 51px 0;
  }
}

@media (max-width: 425px) {
  .catalog {
    padding: 35px 0 38px 0;
  }
}
