.menu__btn-close {
  display: none;
}
@media (max-width: 820px) {
  .menu__btn-close {
    display: block;
    position: absolute;
    top: 0px;
    padding: 0;
    left: 20px;
    border: 0;
    outline: none;
    background: 0;
    color: white;
    font-family: monospace;
    font-size: 30px;
    transform: rotate(45deg);
  }
}
