.product {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .product {
  box-sizing: content-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.product__img {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  height: 90%;
  max-width: 479px;
  max-height: 225px;
}

.product__star {
  width: 76px;
  height: 76px;
  margin: 0 137px 26px 137px;
}

.product__title {
  width: 250px;
  text-align: center;
  padding: 0;
  margin: 0 50px 24px 50px;
  font-weight: bold;
  font-size: 19px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #262931;
}

.product__subtitle {
  width: 250px;
  padding: 0;
  margin: 0 50px 24px 50px;
  text-align: center;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  color: #202020;
}

.product__link {
  padding: 14px 20px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  margin: 0 110.5px;
} */

/* @media (max-width: 1024px) {
  .product__img {
    top: 25%;
    left: 5%;
    width: 40%;
    height: 50%;
  }

  .product__star {
    margin: 0 117px 17px 117px;
  }

  .product__title {
    font-size: 16px;
    line-height: 26px;
    margin: 0 30px 14px 30px;
  }

  .product__subtitle {
    font-size: 14px;
    line-height: 24px;
    margin: 0 30px 24px 30px;
  }

  .product__link {
    font-size: 12px;
    line-height: 14px;
    margin: 0 90.5px;
  }
}

@media (max-width: 768px) {
  .product__img {
    top: 25%;
    left: 0%;
    width: 50%;
    height: 50%;
  }

  .product__star {
    width: 66px;
    height: 66px;
    margin: 0 calc((50% - 66px) / 2) 17px calc((50% - 66px) / 2);
  }

  .product__title {
    width: 50%;
    font-size: 19px;
    line-height: 29px;
    margin: 0 0px 14px 0px;
  }

  .product__subtitle {
    width: 50%;
    font-size: 16px;
    line-height: 28px;
    margin: 0 0px 24px 0px;
  }

  .product__link {
    font-size: 16px;
    line-height: 19px;
    padding: 14px 20px;
    margin: 0 calc((50% - 134px) / 2);
  }
}

@media (max-width: 425px) {
  .product {
    align-items: center;
  }
  .product__img {
    position: relative;
    top: 0;
    left: 0%;
    width: 100%;
    height: auto;
    margin: 0 0 40px 0;
  }

  .product__star {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    display: none;
  }

  .product__title {
    width: 100%;
    font-weight: 500;
    font-size: 19px;
    margin: 0 0px 14px 0px;
  }

  .product__subtitle {
    display: none;
  }

  .product__link {
    font-size: 16px;
    line-height: 19px;
    padding: 14px 20px;
    margin: 0 auto;
  }
} */
